<footer class="allFooterBg">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="allFooter">
                    <div class="col-lg-3 footerLogo">
                        <h1>
                            <a href="#" class="logoLink">
                                <span class="bigRed"></span>
                                <span></span>
                                <span class="bigRed"></span>
                                <span></span>
                                <span class="bigRed"></span>
                                <span></span>
                            </a>
                        </h1>
                    </div>
                    <div class="col-lg-3 col-lg-offset-6">
                        <ul class="footerMenu">
                            <li class="activeLink">
                                <a href="#">Главная</a>
                            </li>
                            <!--<li>
                                <a href="#">Личный кабинет</a>
                            </li>
                            <li>
                                <a href="#">Турниры</a>
                            </li>
                            <li>
                                <a href="#">Статистика</a>
                            </li>
                            <li>
                                <a href="#">Правила</a>
                            </li>
                            <li>
                                <a href="#">Об игре</a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="createdBlock">
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>