<script src="/socket.io/socket.io.js"></script>
<section class="pokerAllBlock">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="pokerAllGame">
                    <div class="pokerTable">
                        <div class="playersBlockAll firstPlayersPosition" data-position-blands="1">
                            <div class="blockImgPlayers">
                                <a href="#">
                                    <img src="img/player.jpg" alt="">
                                </a>
                            </div>
                            <div class="pointsPlayers">
                                <span>2</span>
                            </div>
                            <div class="playersInfo">
                                <div class="namePlayers">
                                    <span>Albert Enshtein</span>
                                </div>
                                <div class="manyPlayers">$ <span>234</span></div>
                                <div class="plaersCardsOnly">
                                    <div class="firstCardsPlayers"></div>
                                    <div class="secondCardsPlayers"></div>
                                </div>
                            </div>
                            <div class="blendsBlocBig blendsStyleAll">BB</div>
                        </div>
                        <div class="playersBlockAll secondPlayersPosition" data-position-blands="4">
                            <div class="blockImgPlayers">
                                <a href="#">
                                    <img src="img/player.jpg" alt="">
                                </a>
                            </div>
                            <div class="pointsPlayers">
                                <span>2</span>
                            </div>
                            <div class="playersInfo">
                                <div class="namePlayers">
                                    <span>Albert Enshtein</span>
                                </div>
                                <div class="manyPlayers">$ <span>234</span></div>
                                <div class="plaersCardsOnly">
                                    <div class="firstCardsPlayers"></div>
                                    <div class="secondCardsPlayers"></div>
                                </div>
                            </div>
                            <div class="blendsBlocSmall blendsStyleAll">SB</div>
                        </div>
                        <div class="playersBlockAll thirdPlayersPosition" data-position-blands="2">
                            <div class="blockImgPlayers">
                                <a href="#">
                                    <img src="img/player.jpg" alt="">
                                </a>
                            </div>
                            <div class="pointsPlayers">
                                <span>2</span>
                            </div>
                            <div class="playersInfo">
                                <div class="namePlayers">
                                    <span>Albert Enshtein</span>
                                </div>
                                <div class="manyPlayers">$ <span>234</span></div>
                                <div class="plaersCardsOnly">
                                    <div class="firstCardsPlayers"></div>
                                    <div class="secondCardsPlayers"></div>
                                </div>
                            </div>
                        </div>
                        <div class="playersBlockAll fourthPlayersPosition" data-position-blands="3">
                            <div class="blockImgPlayers">
                                <a href="#">
                                    <img src="img/player.jpg" alt="">
                                </a>
                            </div>
                            <div class="pointsPlayers">
                                <span>2</span>
                            </div>
                            <div class="playersInfo">
                                <div class="namePlayers">
                                    <span>Albert Enshtein</span>
                                </div>
                                <div class="manyPlayers">$ <span>234</span></div>
                                <div class="plaersCardsOnly">
                                    <div class="firstCardsPlayers"></div>
                                    <div class="secondCardsPlayers"></div>
                                </div>
                            </div>
                        </div>
                        <div class="blockCardsAll">
                            <div class="firstCards styleCardsAll"></div>
                            <div class="secondCards styleCardsAll"></div>
                            <div class="thirdCards styleCardsAll"></div>
                            <div class="fourthCards styleCardsAll"></div>
                            <div class="fivethCards styleCardsAll"></div>
                        </div>
                        <div class="gameManagementAll">
                            <button class="foldButton buttonManagementStyle">Fold</button>
                            <button class="callButton buttonManagementStyle">Call</button>
                            <button class="raiseButton buttonManagementStyle">Raise</button>
                            <button class="checkButton buttonManagementStyle">Check</button>
                            <button class="betButton buttonManagementStyle">Bet</button>
                        </div>
                        <button class="rand">Rndom</button>
                        <button class="start-game">Start</button>
                        <button class="sit-at-the-table">sit-at-the-table</button>
                        <button class="baza-test">baza-test</button>
                        <button class="baza-exit">baza-exit</button>
                    </div>
                </div>
                <div id="rooms" width="200px" height="50px" background="#fff"></div>
                <div id="chatAll" class="col-md-8">
                    <ul id="messages"></ul>
                    <form action="" class="addedMessage">
                        <p class="typingUsers"></p>
                        <input type="text" class="textAdd">
                        <input type="submit" class="submitChat">
                    </form>
                </div>
                <div class="col-md-4">
                    <ul class="all-users-online">



                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
