<p class="top10Gamers">Топ 10 игроков:</p>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="tableStatistics">
    <h2 class="nameStaticPerson">Vasia pupkin</h2>
    <p class="staticPosition textStaticStyle">Сыграно игр: <span>123123</span></p>
    <p class="staticMoney textStaticStyle">Выиграно денег: $<span>123123</span></p>
    <p class="staticPosition textStaticStyle">Дата регистрации: <span>28.02.2016</span></p>
</div>
<div class="clearfix"></div>