<div class="container">
    <div class="row">
        <div class="tableTournaments">
            <h2 class="nameTournaments">Турнир: <span>"Пятачок"</span></h2>
            <p class="moneyFond">Призовой фонд: $<span>123123</span></p>
            <button class="participate btn-style">Принять участие</button>
        </div>
        <div class="tableTournaments">
            <h2 class="nameTournaments">Турнир: <span>"Три колоды"</span></h2>
            <p class="moneyFond">Призовой фонд: $<span>123123</span></p>
            <button class="participate btn-style">Принять участие</button>
        </div>
        <div class="tableTournaments">
            <h2 class="nameTournaments">Турнир: <span>"Розовый понни"</span></h2>
            <p class="moneyFond">Призовой фонд: $<span>123123</span></p>
            <button class="participate btn-style">Принять участие</button>
        </div>
        <div class="tableTournaments">
            <h2 class="nameTournaments">Турнир: <span>"Гендельбурген"</span></h2>
            <p class="moneyFond">Призовой фонд: $<span>123123</span></p>
            <button class="participate btn-style">Принять участие</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>