<body class="main">
	<section>
		<div class="main-rating">
			<h1>TOP RATING</h1>
			<span class="main-rating-palyer">
				<%-rating%>
			</span><br>
		</div>
		<div class="main-center">
			<div class="main-logo">
				<a href="/">
					<img src="static/img/logo.jpg">
				</a>
			</div>
			<div class="main-rules">
				<h1>Black Jack rules</h1>
				<p>Блэкджек - азартная игра, также известная как двадцать одно или по-французски, Vingt-et-un. В него играют в наземных и онлайн казино по всему миру. Блэкджек - одна из самых доступных и популярных игр казино.</p>
				<p>Игроки в блэкджек соревнуются не друг с другом, а с дилером. Цель игры заключается в том, чтобы собрать комбинацию карт, имеющую более высокую стоимость, нежели у дилера, но при этом не перейти рубеж в 21 очко. Если сумма ваших очков больше 21, то это называется "перебор" и вы автоматически проигрываете, независимо от комбинации карт у дилера.</p>
				<p>Значение руки в блэкджеке определяется путем сложения всех карт игрока. Стоимость каждой карты определяется ее числовым значением, а карты с лицами (валет, дама, король) приносят 10 очков, туз считается за 1 или 11, в зависимости от того, какой вариант выгоднее для игрока или дилера.</p>
				<p>Лучшая рука в блэкджеке туз и карта на 10 очков. Такая комбинация оценивается в 21 очко и называется натуральным блэкджеком.</p>
				<p>В начале игры игроки получают по две карты рубашкой вниз, а дилер свои карты выкладывает так: одну карту лицом вверх, а вторую вниз.</p>
				<p>Если у дилера нет натурального блэкджека, то игра продолжается. Игроку доступны четыре основных шага, которые он может предпринять:</p>
				<p>Hit (еще) - игрок просит у дилера дополнительную карту. Можно взять сколько угодно карт, пока сумма очков не будет равна 21 или не будет перебор.</p>
				<p>Stand (достаточно) - игрок дает дилеру понять, что предпочитает остаться с той рукой, которую имеет.</p>
<!-- 				<p>Split (разбивка, разделение) - если при раздаче игрок получил две карты одного достоинства, то он может попросить разбить раздачу на две руки. После этого игрок должен удвоит первоначальную ставку, после чего дилер будет раздавать карты к каждой разбитой карте.</p> -->
				<p>Double Down (удваиваю) - игрок удваивает первоначальную ставку, но после этого имеет право получить только одну карту.</p><br/>
			</div>
		</div>
		<div class="main-news">
			<h1>NEWS</h1>
			<h5>Поощрения за ежедневную активность</h5>
			<p>Введена система поощрения для игроков за ежедневное посещение игры.</p>
		</div>
	</section>
</body>