<body class="register">
	<header>
		<div>
			<a href="/">
				<img src="static/img/logo.jpg">
			</a>
		</div>
	</header>
	<main>
		<form id="regForm">
			<span class="main-span">Join to Black Jack House</span></br></br>
				<span>User Name</span></br>
			<input type="text" name="Login" placeholder="Login"></br>
				<span>E-mail</span></br>
			<input type="text" name="email" placeholder="email"></br>
				<span>Password</span><br>	
			<input type="password" name="Password" placeholder="Password"></br>
				<span style="display:none;">Confirm Password</span><br>	
			<input type="password" name="confirmPassword" style="display:none;" placeholder="confirmPassword"><br>
				<span style="display:none;">Secret word (for pass recowery)</span></br>
			<input type="text" name="secretWord" style="display:none;" placeholder="secretWord"></br>
			<input type="submit" name="Submit" value="Create an account" class="form-button">
		</form>
	</main>
</body>