<body class="register">
	<header>
		<div>
			<a href="/">
				<img src="static/img/logo.jpg">
			</a>
		</div>
	</header>
	<main>
		<form id="restorepswd">
			<span class="main-span">Restore password</span></br></br>
				<span>User Name</span></br>
			<input type="text" name="Login" placeholder="Login"></br>
				<span>E-mail</span></br>
			<input type="text" name="email" placeholder="email"></br>
				<span>Secret word</span></br>
			<input type="text" name="secretWord" placeholder="secretWord"></br>
			<input type="submit" name="Submit" value="Restore password" class="form-button">
		</form>
	</main>
</body>