<body class="register">
	<header>
		<div>
			<a href="/">
				<img src="static/img/logo.jpg">
			</a>
		</div>
	</header>
	<main>
		<form id="restorepswd_set">
			<span class="main-span">Enter new password</span></br></br>
				<span>Password</span><br>	
			<input type="password" name="Password" placeholder="Password"></br>
				<span>Confirm Password</span><br>
			<input type="password" name="confirmPassword" placeholder="confirmPassword"><br>
			<input type="submit" name="Submit" value="Change password" class="form-button">
		</form>
	</main>
</body>